<h1>Fill in the blanks with a time to get the distance in a clock!</h1>
<form action='/result' method='get'>
  
  <div class="form-group">
    <label for="time">Time</label>
    <input id="time" name="time" class="form-control" type="time">
  </div>

  <button type="submit" class="btn">Show me the distance!</button>
</form>