

<h3><%= @user.username %></h3>
<br>
has <%= @user.users.length %> followers
<br>
has been to <%= @user.establishments.length %> restaurants
<%= link_to "Suivre", starts_following_user_path(@user), :data => {:method => "put"} %>
