<form action="/upload" method="post" enctype='multipart/form-data'>
    <label for='myfile'>file upload:</label>
    <input id='myfile' name='myfile' type='file'>
    <button type="submit" value='Upload!'>Add a file</button>
</form>