<!DOCTYPE html>
<html>
  <head>
    <title>Manage your employees easily</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/style.css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/script.js"></script>

  </head>
  <body>
    
    <a href="/log_in"><button type="button" class="btn btn-default navbar-btn">Log in</button></a>
    <a href="/sign_up"><button type="button" class="btn btn-default navbar-btn">Sign up</button></a>
    
  </body>
</html>