<!DOCTYPE html>
<html>
<head>
  <title>Yakka</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 
  <%= csrf_meta_tags %>
</head>
<body>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#categories/4">lol</a></li>
    </ul>
  <div id="container">

    
    <p>coucou</p>
    <%= yield %>
  </div>
   <%= javascript_include_tag 'application' %>
</body>
</html>
